<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="common/css :: css"/>
    <title>新增空间</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增空间</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">存储空间名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name">
                                <span class="help-block m-b-none">
                                    存储空间名称不允许重复，遇到冲突请更换名称。
                                </span>
                                <span class="help-block m-b-none">
                                    名称格式为 3 ~ 63 个字符，可以包含小写字母、数字、短划线，且必须以小写字母或者数字开头和结尾。
                                </span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">访问权限</label>
                            <div class="radio i-checks">
                                <label>
                                    <input type="radio" checked="" value="public" name="control"> <i></i> 公开</label>
                                <label>
                                    <input type="radio" checked="" value="private" name="control"> <i></i> 私有</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="submit">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/js :: js"/>
</body>
</html>