<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="common/css :: css"/>
    <title>空间预览</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 th:text="${bucket_info.name}"></h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-cloud fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> 存储量 </span>
                                <h2 class="font-bold" th:text="${object_size}">26'C</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> 对象数 </span>
                                <h2 class="font-bold" th:text="${object_num}">260</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget style1 yellow-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-music fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> 本月GET/PUT </span>
                                <h2 class="font-bold" th:text="${get_count}+'/' + ${post_count}">12</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="widget style1 blue-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> 域名 </span>
                                <h2 class="font-bold" th:text="${domain_infos.size()}"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ibox-title">
                    <h5>域名加速</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>域名</th>
                                    <th>CNAME</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,r:${domain_infos}">
                                    <td th:text="${r.index + 1}">1</td>
                                    <td th:text="${item.domain}"></td>
                                    <td th:text="${item.CNAME}"></td>
                                    <td th:if="${item.status == 0}">
                                        <span class="label label-warming">待解析</span>
                                    </td>
                                    <td th:if="${item.status == 1}">
                                        <span class="label label-success">解析成功</span>
                                    </td>
                                    <td th:if="${item.status == 2}">
                                        <span class="label label-danger">解析异常</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <button type="button" class="col-sm-12 btn btn-outline btn-default">添加域名</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/js :: js"/>
</body>
</html>